.ChatSection {
    &__message-to {
      background-color: #E5E5E5;
      padding: 10px;
      border-radius: 25px;
    }
  
    &__message-from {
      background-color: #E5E5E5;
      padding: 10px;
      border-radius: 25px;
    }
  }
  