.FilterSelection {
  &__areas {
    font-style: normal;
    font-weight: bold;
  }

  &__bold {
    font-weight: 600;
  }

  &__areas {
    font-style: normal;
    font-weight: bold;
  }

  &__bold {
    font-weight: 600;
  }
}
