.HeroSection {
  &__create-profile {
    font-weight: bold;
  }

  &__form-submit {
    font-weight: bold;
  }

  &__signup {
    font-weight: bold;
  }

  &__image-container {
    max-width: 570px;
  }
}
