.NavbarCustom {
  &__home-auth {
    width: 66px;
    height: 33px;
    left: 795px;
    top: 62px;

    font-style: normal;
    font-weight: 500;

    color: #000000;
  }

  &__about-auth {
    width: 68px;
    height: 33px;
    left: 936px;
    top: 62px;

    font-style: normal;
    font-weight: 500;

    color: #000000;
  }

  &__contact-auth {
    width: 85px;
    height: 33px;
    left: 1079px;
    top: 62px;

    font-style: normal;
    font-weight: 500;

    color: #000000;
  }

  &__logout-auth {
    width: 85px;
    height: 33px;
    left: 1239px;
    top: 62px;

    font-weight: 500;

    color: #000000;
  }

  &__home-noauth {
    width: 66px;
    height: 33px;
    left: 795px;
    top: 62px;

    font-style: normal;
    font-weight: 500;

    color: #000000;
  }

  &__about-noauth {
    width: 68px;
    height: 33px;
    left: 936px;
    top: 62px;

    font-style: normal;
    font-weight: 500;

    color: #000000;
  }

  &__contact-noauth {
    width: 85px;
    height: 33px;
    left: 1079px;
    top: 62px;

    font-style: normal;
    font-weight: 500;

    color: #000000;
  }

  &__login-noauth {
    width: 61px;
    height: 33px;
    left: 1239px;
    top: 62px;

    font-style: normal;
    font-weight: 500;

    color: #000000;
  }
}
