.WorkspaceNav {
  border-bottom: 1px solid #E8E8E8;

  &__no-classname {
    font-weight: bold;
    color: black;
  }

  &__no-classname {
    font-weight: bold;
    color: black;
  }

  &__no-classname {
    font-weight: bold;
    color: black;
  }
}
